<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SBA-Suite" parallel="false">
 
 <test name="FirefoxTest">
<parameter name="browser" value="Firefox" />
<classes>
<class name="com.savaari.businesslogic.BookTicket">
</class>
</classes>
  </test> <!-- Test -->
   
   <test name="ChromeTest">
<parameter name="browser" value="Chrome" />
<classes>
<class name="com.savaari.businesslogic.BookTicket">
</class>
</classes>
  </test> <!-- Test -->
 
  <test name="InternetExplorerTest">
  <parameter name="browser" value="InternetExplorer" />
<classes>
<class name="com.savaari.businesslogic.BookTicket">
</class>
</classes>
  </test> <!-- Test -->
 
 </suite> <!-- Suite -->
